@import "colors"
@import "mixins/media.query"

header
  position: fixed
  left: 0
  top: 0
  width: 100vw
  background-color: $site-background
  z-index: 2

  > div
    height: 95px
    padding: 30px 0
    display: flex
    justify-content: space-between

  @include media-query(1200px)
    padding: 30px 25px

  h1
    height: 35px
    width: 240px
    display: inline-block
    margin: 0
    background: url("./../media/logo-text@2x.png") 0 center no-repeat, url("./../media/logo-icon.svg") 100% center no-repeat
    background-size: auto 25px
    @extend .no-text


  form
    width: 365px
    height: 35px
    border-radius: 18px
    background-color: $other-background
    overflow: hidden
    position: relative

    input
      width: 100%
      height: 100%
      padding: 0 45px 0 15px

    button
      position: absolute
      top: 0
      right: 0
      height: 100%
      width: 35px
      background: url("./../media/icons-sprite.svg") 23% 100%/1000% 200% no-repeat
      @extend .no-text

      &.clear
        background: url("./../media/icons-sprite.svg") 34% 100%/1000% 200% no-repeat
