@import "colors"
@import "mixins/response.ratio"

#video-slider
  position: relative
  margin: 30px auto 80px
  overflow: hidden // so scrollbar will not show

  .slides-container
    // no wrap will make sure slides-container will extend as far as all slides total width
    white-space: nowrap
    overflow: scroll
    // padding top 40px since translating 10px
    // padding left and right is equal to 100 viewport width - with of the active slide divided by 2
    // this will make sure the left-most and right-most can still be centered when nothing comes after
    padding: 40px calc((100vw - 1100px) / 2) 150px
    // translate down 10px will hide scrollbars
    transform: translateY(10px)

    .slide
      display: inline-block
      background-color: $other-background
      width: 960px
      border-radius: 10px
      box-shadow: 0 0 20px rgba($black, 0.3)
      position: relative

      &:first-of-type
        margin-left: 0
      &:last-of-type
        margin-right: 0

      h2
        position: absolute
        top: calc(100% + 25px)
        left: 50%
        transform: translateX(-50%)
        width: 60%
        white-space: normal
        text-align: center
        font-size: 1.2em
        font-weight: 300
        color: lighten($text-border-grey, 30%)

      .video-iFrame-container
        border-radius: 10px
        overflow: hidden
        @include responsive-ratio(16, 9)

        iframe
          width: 100%
          height: 100%
          border: 0

  .slider-nav-buttons

    button
      position: absolute
      width: 100px
      height: 90%
      top: 0
      @extend .no-text

      &:after
        content: ''
        display: inline-block
        width: 50px
        height: 50px
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)

      &.prev-slide
        left: 0
        &:after
          background: url("./../media/icons-sprite.svg") 0 100% / 1000% 200% no-repeat

      &.next-slide
        right: 0
        &:after
          background: url("./../media/icons-sprite.svg") 10% 100% / 1000% 200% no-repeat
