@import "mixins/media.query"
@import "mixins/response.ratio"
@import "colors"

.youtube-video-slider
  position: relative
  height: 25vw
  padding-top: 100px
  max-height: 400px
  background-color: $red
  margin-bottom: 450px
  border-radius: 0 0 50% 50% / 0 0 100% 100%

  @include media-query(2000px)
    padding-top: 6vw
    margin-bottom: calc(200px + 10vw)

  @include media-query(1024px)
    border-radius: 0

  @include media-query(768px)
    height: 40vw
    max-height: none
    margin-bottom: 250px

  @include media-query(480px)
    margin-bottom: 200px

  .video-slides
    margin: 0 auto
    max-width: 960px
    width: 58vw

    @include media-query(1024px)
      width: auto
      max-width: 60%

    @include media-query(768px)
      max-width: 80%

    @include media-query(600px)
      max-width: calc(100% - 60px)

    .youtube-video
      background-color: $whitish
      border-radius: 4px
      border: 5px solid $pure-white
      box-shadow: 0 5px 15px rgba($pure-black,.1)
      position: relative
      @include responsive-ratio(16, 9)

      iframe
        width: 100% !important
        height: 100% !important
        position: absolute
        left: 0
        top: 0


    .slides-navigator
      position: relative
      padding-top: 30px

      @include media-query(600px)
        padding-top: 10px

      .nav-buttons
        width: 125px
        margin: 25px auto 0
        display: flex
        justify-content: space-between

        button
          width: 25px
          height: 25px
          overflow: hidden

          &.prev-slide
            background: url("./../media/next-icon.svg") center center no-repeat
            background-size: auto 100%

          &.next-slide
            background: url("./../media/prev-icon.svg") center center no-repeat
            background-size: auto 100%
