@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100vw; }
  body > * {
    width: 100%; }

* {
  box-sizing: border-box; }

h1, h2, h3 {
  margin-top: 0; }

button, input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  display: inline-block; }

button:active, input[type="button"]:active {
  transform: scale(0.96); }

header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background: #E23B3B url("../media/before-semicolon-logo.svg") right center no-repeat;
  background-origin: content-box; }
  header h1 {
    font-size: 1.25em;
    color: #fff;
    margin: 0;
    line-height: 100%; }

main {
  height: 100%;
  margin-top: 90px; }
  main .youtube-video-slider {
    position: relative;
    height: 25vw;
    padding-top: 100px;
    max-height: 400px;
    background-color: #E23B3B;
    margin-bottom: 450px;
    border-radius: 0 0 50% 50%/0 0 100% 100%; }
    @media only screen and (max-width: 2000px) {
      main .youtube-video-slider {
        padding-top: 6vw;
        margin-bottom: calc(200px + 10vw); } }
    @media only screen and (max-width: 1024px) {
      main .youtube-video-slider {
        border-radius: 0; } }
    @media only screen and (max-width: 768px) {
      main .youtube-video-slider {
        height: 40vw;
        max-height: none;
        margin-bottom: 250px; } }
    @media only screen and (max-width: 600px) {
      main .youtube-video-slider {
        margin-bottom: 150px; } }
    main .youtube-video-slider .video-slides {
      margin: 0 auto;
      max-width: 960px;
      width: 58vw; }
      @media only screen and (max-width: 1024px) {
        main .youtube-video-slider .video-slides {
          width: auto;
          max-width: 60%; } }
      @media only screen and (max-width: 768px) {
        main .youtube-video-slider .video-slides {
          max-width: 80%; } }
      @media only screen and (max-width: 600px) {
        main .youtube-video-slider .video-slides {
          max-width: calc(100% - 60px); } }
      main .youtube-video-slider .video-slides .youtube-video {
        background-color: #EAEAEA;
        border-radius: 4px;
        border: 5px solid #FFFFFF;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        position: relative;
        padding-top: 56.25%; }
        main .youtube-video-slider .video-slides .youtube-video iframe {
          width: 100% !important;
          height: 100% !important;
          position: absolute;
          left: 0;
          top: 0; }
      main .youtube-video-slider .video-slides .slides-navigator {
        position: relative;
        padding-top: 30px; }
        @media only screen and (max-width: 600px) {
          main .youtube-video-slider .video-slides .slides-navigator {
            padding-top: 10px; } }
        main .youtube-video-slider .video-slides .slides-navigator .nav-buttons {
          width: 125px;
          margin: 25px auto 0;
          display: flex;
          justify-content: space-between; }
          main .youtube-video-slider .video-slides .slides-navigator .nav-buttons button {
            width: 25px;
            height: 25px;
            overflow: hidden; }
            main .youtube-video-slider .video-slides .slides-navigator .nav-buttons button.prev-slide {
              background: url("./../media/next-icon.svg") center center no-repeat;
              background-size: auto 100%; }
            main .youtube-video-slider .video-slides .slides-navigator .nav-buttons button.next-slide {
              background: url("./../media/prev-icon.svg") center center no-repeat;
              background-size: auto 100%; }
  main .search-block {
    height: 90px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    main .search-block .search-field {
      display: inline-block;
      height: 45px;
      width: 300px;
      background-color: #EAEAEA;
      border-radius: 30px;
      position: relative;
      overflow: hidden; }
      main .search-block .search-field input {
        width: 100%;
        height: 100%;
        font-size: 1em;
        padding: 0 45px 0 20px; }
        main .search-block .search-field input::-webkit-search-cancel-button {
          display: none; }
        main .search-block .search-field input::-ms-clear {
          display: none; }
        main .search-block .search-field input::-webkit-input-placeholder {
          color: #CBCBCB;
          transition: color 0.3s; }
        main .search-block .search-field input:-moz-placeholder {
          color: #CBCBCB;
          transition: color 0.3s; }
        main .search-block .search-field input::-ms-input-placeholder {
          color: #CBCBCB;
          transition: color 0.3s; }
        main .search-block .search-field input:-ms-input-placeholder {
          color: #CBCBCB;
          transition: color 0.3s; }
        main .search-block .search-field input:focus::-webkit-input-placeholder {
          color: transparent; }
        main .search-block .search-field input:focus:-moz-placeholder {
          color: transparent; }
        main .search-block .search-field input:focus::-ms-input-placeholder {
          color: transparent; }
        main .search-block .search-field input:focus:-ms-input-placeholder {
          color: transparent; }
      main .search-block .search-field button {
        position: absolute;
        right: 0;
        top: 0;
        width: 45px;
        height: 100%;
        overflow: hidden;
        text-indent: -999999px;
        background: url(./../media/search-icon.svg) 40% center no-repeat;
        background-size: 23px; }
        main .search-block .search-field button.clear {
          background: url(./../media/clear-icon.svg) 40% center no-repeat;
          background-size: 15px; }
  main .content {
    margin-top: 50px; }
    main .content #posts {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto; }
      @media only screen and (max-width: 1024px) {
        main .content #posts {
          width: calc(100% - 60px); } }
      main .content #posts:after {
        content: "";
        clear: both;
        display: block; }
      main .content #posts .github-post {
        background-color: #EAEAEA;
        width: calc(33.3333% - 30px + 30px / 3);
        float: left;
        height: 190px;
        margin-right: 30px;
        margin-bottom: 30px;
        border-radius: 5px;
        padding-top: 38.8888888889%; }
        main .content #posts .github-post:nth-of-type(3n) {
          margin-right: 0; }
        @media only screen and (max-width: 600px) {
          main .content #posts .github-post {
            padding-top: 55.5555555556%;
            width: calc(50% - 30px + 30px / 2); }
            main .content #posts .github-post:nth-of-type(3n) {
              margin-right: 30px; }
            main .content #posts .github-post:nth-of-type(2n) {
              margin-right: 0; } }
  main footer {
    height: 50px; }

/*# sourceMappingURL=index.css.map */
