@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600')
@import "response.ratio"
@import "colors"

body
  font-size: 16px
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  height: 100vh
  width: 100vw

  > *
    width: 100%

// global common styles
*
  box-sizing: border-box

h1, h2, h3
  margin-top: 0

button, input
  border: none
  background: none
  outline: none
  padding: 0
  -webkit-appearance: none
  -moz-appearance: none
  cursor: pointer
  display: inline-block

button, input[type="button"]
  &:active
    transform: scale(.96)

// Page header
@import "header"

// Main area of the site
main
  height: 100%
  margin-top: 90px

  // video slider
  @import "youtube.video.slider"

  // search block
  @import "search.block"

  // site footer
  @import "footer"